
{% extends "events/dashboard.html" %}

{% block content %}
<form action="#" method="POST">
  <div class="form-group">
    <label for="eventname"><h3>Event Name</h3></label>  
      <input type="text" class="form-control" name="eventname"  value="Git practices" required/>
  
    <label for="eventname"><h3>Description</h3></label>  
      <input type="text" class="form-control" name="description"  value="We will learn git best practices">

    <label> <h3>Category</h3> </label>
    <select  class="form-control" name="category">

    <option value="technology">Technology</option>
    <option value="business">Education</option>
    <option value="Social">Social</option>
    </select>
    <label for="eventname"><h3>Event venue</h3></label>  
    <input type="text" class="form-control" name="venue"  value="The space" required/>
    <label for="eventname"><h3>Event Date</h3></label>  
    <input type="date" class="form-control" name="date"  required/>
  </div>
  <div class="form-group">
          <button type="submit" class="btn btn-block btn-success">Update</button>
  </div>
</form>
{%endblock%}