{% extends "events/dashboard.html" %}

{% block content %}
<form action="{{url_for('main.update_event', eventid = event['id'])}}" method="POST">
  <div class="form-group">
    <label for="eventname"><h3>Event Name</h3></label>  
      <input type="text" class="form-control" name="eventname"  value="{{event['name']}}" required/>
  
    <label for="eventname"><h3>Description</h3></label>  
      <input type="text" class="form-control" name="description"  value="{{event['description']}}">

    <label> <h3>Category</h3> </label>
    <select  class="form-control" name="category">

      <option value="{{event['category']}}">{{event['category']}}</option>
      <option value="Business">Business</option>
      <option value="Education">Education</option>
      <option value="Technology">Technology</option>
      <option value="social">Social</option>
    </select>
    <label for="eventname"><h3>Event venue</h3></label>  
    <input type="text" class="form-control" name="location"  value="{{event['location']}}" required/>
    <label for="eventname"><h3>Event Date</h3></label>  
    <input type="date" class="form-control" name="event_date" value="{{event['event_date']}}"  required/>
  </div>
  <div class="form-group">
          <button type="submit" class="btn btn-block btn-success">Update</button>
  </div>
</form>
{%endblock%}/