{% extends "events/dashboard.html" %}

{% block content %}
<div class="table-responsive">

	<table class="table table-striped">
		{%if events==[]%}
		<div class="alert-info ds_alerts text-center" role="alert">
		<h4>Hello {{session['username']}}, welcome to Bright Events</h4>
		<h4>
			No one has created an event yet, Click 
			<a href="{{url_for('newevent')}}">Here</a>
			to create first event
		</h4>
		</div>
		{% else %}
		<thead>	
				{% if page=="events"%}
				<form  action="{{url_for('searchevents')}}" method="POST">
					 <div>
					 	<div class="col-md-8 col-md-offset-2 eventsearch">
					 		<div class="input-group">
				              <input type="text" class="form-control" placeholder="Type event category or location" name="Search">
			                  <span class="input-group-btn">
			                    <button class="btn btn-search" type="submit" id="search"><i class="fa fa-search fa-fw"></i> Search</button>
			                  </span>
							</div>
					 	</div>
					 </div>
				</form>
				{%else%}
					<div class="panel panel-success">
					  <div class="panel-body">
					    The following events matched your search 
					  </div>
					</div>
				{% endif%}
				<td>Event Name</td>
				<td>Description</td>
				<td>category</td>
				<td>Location</td>
				<td>Date</td>
				<td>Orgarniser</td>
				<td>Respond</td>
		</thead>
		<tbody >
			{% for event in events%}
			<tr>
				<td>{{event['name']}}</td>
				<td>{{event['description']}}</td>
				<td>{{event['category']}}</td>
				<td>{{event['location']}}</td>
				<td>{{event['event_date']}}</td>
				<td>{{event['createdby']}}</td>
				<td >
					<div>
					  <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#{{event['id']}}">RSVP</button>

					  <div class="modal fade" id="{{event['id']}}" role="dialog">
					    <div class="modal-dialog">
					    	<form action="{{url_for('rsvp', eventid = event['id'])}}" method="POST">
						      <div class="modal-content">
						        <div class="modal-body">
						          <h3 class="text-info">Confirm Reservation for {{event['name']}}</h3>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						          <button type="submit" class="btn btn-success" >RSVP</button>
						        </div>
						      </div>
					      </form>
					    </div>
					  </div>
					  
					</div>
				</td>
			</tr>
			{% endfor%}
		</tbody>
		{% endif %}
 	</table>
</div>
{%endblock%}