<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create event</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
  </head>
   <body style="background-color: #ebebe0;">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Bright Events</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="../../../../index.html">Home</a></li>
            <li class="active"><a href="#">create Event</a></li>
            <li><a href="edit.html">Edit Event</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="../signup.html"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li><a href="../login.html"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          </ul>
        </div>
      </nav>
    <div class="container forms">
    <div class="col-md-6 col-md-offset-3">
      <div class="row">
          <h3 class="text-center">Create Event</h3>
      </div>
      <div class="panel panel-dafault">
      <div class="panel panel-body">
      <form action="#" method="POST">
        <div class="form-group">
          <label for="eventname"><h3>Event Name</h3></label>  
            <input type="text" class="form-control" name="eventname"  placeholder="Enter event name" required/>
        
          <label for="eventname"><h3>Description</h3></label>  
            <input type="text" class="form-control" name="description"  placeholder="event description">

          <label> <h3>Category</h3> </label>
          <select  class="form-control" name="category">

          <option value="">select</option>
          <option value="Business">Education</option>
          <option value="Education">Technology</option>
          <option value="Technology">Social</option>
          </select>
          <label for="eventname"><h3>Event venue</h3></label>  
          <input type="text" class="form-control" name="venue"  placeholder="Enter event venue" required/>
          <label for="eventname"><h3>Event Date</h3></label>  
          <input type="date" class="form-control" name="date"  required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-block btn-success">Create</button>
      </div>
    </form>
    </div>
    </div>
    </div>
    </div>
  </body>
</html>
