<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Login - Bright events</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
  </head>
      <body class="bg">
    <div class="container forms">
    <div class="col-md-5 col-md-offset-3 backgrnd">
      <h1 class="text-center"> Login</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}}">
          <strong>{{message}}</strong> 
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
      <form action="{{url_for('main.login')}}" method="POST">
    <div class="form-group">
      <label for="username"><h4>Username</h4></label>
      <input type="text" class="form-control" name="username"  placeholder="Enter username" data-validation="length alphanumeric" data-validation-length="3-8" 
         data-validation-error-msg="Username has to be an alphanumeric value of 3 to 8 chars">
    </div>
    <div class="form-group">
      <label for="password"><h4>Password</h4></label>
      <input type="password" class="form-control" name="password" placeholder="Password" 
        data-validation="strength" data-validation-strength="2">
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 ">
        <button type="submit" class="center btn btn-primary btn-block"> login</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-md-offset-3">
        <h4>Not yet Registered?<a href ="{{url_for('main.register')}}"> Sign Up</a></h4>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        <h4>Forgot password?<a href ="{{url_for('main.resetpass')}}">Reset</a></h4>
      </div>
    </div>
</form>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>

  $.validate({
    modules : 'location, date, security, file',
    onModulesLoaded : function() {
    }
  });
  $(".alert").fadeOut(5000);
</script>
</body>
</html>
