<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>Signup - Bright events</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/theme-default.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
 <body>

    <div class="row container">
    <div class="col-md-6 col-md-offset-3 backgrnd">
      <h1 class="text-center">Sign Up</h1>
    <form action="#" method="POST" name="signup">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="name" class="form-control" name="username" placeholder="Username" data-validation="length alphanumeric" data-validation-length="3-8" 
         data-validation-error-msg="Username has to be an alphanumeric value of 3 to 8 chars">
      </div>
  <div class="form-group">
    <label for="Email">Email address</label>
    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Enter email" data-validation="email">
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input type="password" class="form-control" name="password" minlength="6" placeholder="Password" data-validation="strength" data-validation-strength="2" >
  </div>
  <div class="form-group">
    <label for="confpassword">Confirm Password</label>
    <input type="password" class="form-control" name="confpassword" placeholder="Confirm Password" data-validation="confirmation">
  </div>
  <div class="row">
      <div class="col-md-6 col-md-offset-5">
            <button type="submit" class="btn btn-primary">Sign up</button>
      </div>
  </div>
</form>
  </div>
</div>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
<script>

  $.validate({
    modules : 'location, date, security, file',
    onModulesLoaded : function() {
    }
  });
</script>
</body>
</html>